* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lexend Exa';
    background: #AC9C8D;
}

section {
    margin: 0px;
    padding-top: 130px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #72383D;
    border-radius: 25px;
}

.right {
    padding: 40px;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    border: 5px solid #72383D;
    border-radius: 50px;
    background-color: #EFE9E1;
}

.left > img {
    height: 500px;
    width: 500px;
    border-radius: 25px;
    object-fit: fit;
}

.right-title > h3 {
    color: #311c1e;
    font-size: 48px;
    text-decoration-line: underline;
    font-weight: 800;
}

.right-price {
    padding-top:20px;
    color: #311c1e;
    font-size: 36px;
}

.right-caption {
    padding-top:20px;
    font-size: 12px;
}

.right-qty, .right-color {
    padding-top:20px;
    font-size: 16px;
}

.color {
    display: flex;
    justify-content: flex-start;
}

.color-child {
    margin-top: 5px;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}

button {
    text-align: center;
    width: 200px;
    height: 50px;
    background: #72383D;
    border-radius: 30px;
    margin-top: 10px;
    color: #fff; 
    border: 10px; 
    cursor: pointer;
    position: right;
    right: 3px;
    opacity: 100%;
    transition: background-color 0.3s ease;
}

.right-add-button > button:hover {
    background-color: #322D29;
}

.add > button:hover {
    background-color: #322D29;
}

.add {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add > button {
    width: 30px;
}

.right-add-button {
    padding-top: 15px;
}

.right-add-button > button {
    width: 150px;
    font-size: 18px;
}

#quantityLabel {
    padding-left: 15px;
    padding-right: 15px;
}

.add h3 {
    padding-left: 15px;
}

@media (max-width:1280px) {
    .left, .left > img {
        height: 400px;
        width: 400px;
    }
}

@media (max-width:1080px) {
    .left, .left > img {
        height: 200px;
        width: 200px;
    }

    .right {
        width: 400px;
    }
}

@media (max-width:760px) {
    .right {
        width: 250px;
    }

    .right-price {
        font-size: 24px;
    }
}

@media (max-width:600px) {
    .right {
        width: 250px;
    }

    .right-title > h3 {
        font-size: 32px;
    }

    .right-price {
        font-size: 22px;
    }

    .color-child {
        height: 25px;
        width: 25px;
    }

    section {
        flex-direction: column;
    }

    .right {
        margin-top: 25px;
        height: 400px;
    }
}