
* {
    font-family: 'Lexend Exa';
    margin: 0;
}

body {
    background-color: #AC9C8D;
}
h1 {
    padding-top: 100px;
    font-size: 65px;
    display: flex;
    justify-content: center;
}

#spanH1 {
    color: white;
}

.category {
    color: white;
    font-size: 56px;
    padding-top: 30px;
    padding: 0px 100px;
}

img {
    height: 450px;
    width: 350px;
}

.product-row {
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
}

.prod-category {
    display: flex;
    flex-direction: column;
    margin-top:50px;
}

#buttonRow {
    padding: 25px 100px;
    display: flex;
    justify-content: flex-end;
}

.content {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.item {
    height: 400px;
    width: 300px;
    background-color: #72383D;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px #322D29;
}

.item-image img {
    width: 300px;
    height: 200px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.item-name, .item-price {
    padding-top: 15px;
    font-family: 'Noto Serif KR';
    color: #D9D9D9;
}

.item-name {
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.item-price {
    font-size: 20px
}

.prod-button {
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: #AC9C8D;
    border-radius: 30px;
    margin-top: 20px;
    color: #fff; 
    border: 10px; 
    cursor: pointer;
    position: right;
    right: 3px;
    opacity: 100%;
    transition: background-color 0.3s ease;
}

.prod-button:hover {
    background-color: #322D29;
}

.more-button {
    height: 75px;
    width: 200px;
    background-color: #72383D;
    color: white;
    font-size: 24px;
    border-radius: 50px;
    border: 0px;
    transition: background-color 0.3s ease;
}

.more-button:hover {
    background-color: #A04D53;
}

.empty-footer {
    height:200px;
}

@media only screen and (max-width:1800px) {
    .item {
        height: 300px;
        width: 220px;
    }
    
    .item-image img {
        height: 150px;
        width: 220px;
    }

    .item-name {
        font-size: 20px;
    }
    
    .item-price {
        font-size: 16px
    }

    .item-name, .item-price {
        padding-top: 5px;
    }

    .prod-button {
        width: 100px;
        height: 40px;
    }
    
    .item-button {
        font-size: 18px;
    }

    .more-button {
        height: 50px;
        width: 125px;
        font-size: 18px;
    }

    .content, .category {
        padding-right: 50px;
        padding-left: 50px;
    }

    #buttonRow {
        padding-right: 50px;
    }
}

@media only screen and (max-width:1200px) {
    .item:nth-child(5) {
        display: none;
    }
}

@media only screen and (max-width:1020px) {
    .item:nth-child(4) {
        display: none;
    }

    h1 {
        font-size: 48px;
    }
}

@media only screen and (max-width:780px) {
    .item:nth-child(3) {
        display: none;
    }

    h1 {
        font-size: 36px;
    }
}

@media only screen and (max-width:560px) {
    h1 {
        font-size: 24px;
    }

    .item:nth-child(2) {
        display: none;
    }

    .category {
        text-align: center;
    }

    .content, #buttonRow {
        justify-content: center;
    }

    #buttonRow {
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
}   