*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif KR';
    background-color: #322D29;
}

.content-top {
    display: flex;
}

.content-top-left {
    padding-top: 150px;
    padding-left: 75px;
    padding-right: 75px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-text {
    font-size: 32px;
}

.top-text > h1 {
    color: white;
}

#discover {
    color: #8E6868;
}

.description-text {
    font-family: poppins;
    font-size: 28px;
    color: #fff;
}

.bottom {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-explore {
    font-size: 26px;
}

.content-top-right {
    width: 40%;
    margin-top: 100px;
}

.bottom-text {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    color: white;
    text-decoration: underline;
}

.best-selling {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.best {
    margin: 25px;
    width: 400px;
    height: 500px;
    background-color: #D1C7BD;
    border-radius: 15px;
}

.best > img {
    width: 400px;
}

.best-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #311C1E;
}

.name-best, .price {
    margin-top: 20px;
}

.item-image img {
    width: 400px;
    height: 250px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.name-best {
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.button-more {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rectangle-button {
    width: 400px;
    height: 75px;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #72383D;
    border: none;
    border-radius: 35px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.rectangle-button:hover {
    background-color: #AC9C8D;
}

.buy-now {
    display: flex;
    justify-content: center;
}

.buy-button {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #72383D;
    border: none;
    border-radius: 35px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.buy-button:hover {
    background-color: #322D29;
}

@media only screen and (max-width:1280px) {
    .content-top-right > img{
        width: 400px;
    }
}

@media only screen and (max-width:980px) {
    .content-top-right {
        display: none;
    }

    .top-text, .description-text {
        text-align: center;
    }

    .button-explore {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:600px) {
    .content-top-left {
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
    }

    .top-text > h1 {
        font-size: 36px;
    }

    .description-text > p {
        font-size: 24px;
    }

    .rectangle-button {
        width: 100%;
    }

    .bottom-text > h2 {
        font-size: 36px;
    }

    .best, .item-image > img {
        border-radius: 0px;
    }

    .button-more > .rectangle-button {
        width: 250px;
    }
}