*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:#AC9C8D;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}
.column {
    width: 100%;
    padding: 0.5em 0;
    ;
}
h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    padding-top: 40px;
}
.card{
    box-shadow: 0 0 0.2em #72383D;
    padding: 3.5em 1em;
    color: rgb(14, 13, 13);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
    background-color:#72383D;
    width: 320px ;
    height: 350px; 
    margin-left: 80px;

}
.card .img-container {
    width: 8em;
    height: 8em;
    padding: 0;
    border-radius: 50%;
     
}
.card img {
    width: 6em;
    height: 6em;
    border-radius: 40%;
    margin-left: 90px;
}
h3{
font-weight: 500;
padding-bottom: 20px;  
font-size: 20px;  
}

p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700px;
    color: whitesmoke;
    
}
.card:hover{
   background: linear-gradient(whitesmoke pink);
   color: beige; 
}
.card:hover .img-container{
    transform: scale(1.1);
}
@media screen and (min-width: 768px) {
    section{
        padding: 1em 2em;
    }
}
@media screen and (min-width: 992px) {
   section {
    padding: 0.5em;
   } 
   .card{
    padding: 2em 1em;
   }
   .column{
    flex: 0 0 33.33%;
    max-width: 33.33%;
   }
}