*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif KR';
    background-color: #322D29;
}

.content-top {
    display: flex;
}

.content-top-left {
    padding-top: 150px;
    padding-left: 75px;
    padding-right: 75px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-text {
    font-size: 32px;
}

.top-text > h1 {
    color: white;
}

#discover {
    color: #8E6868;
}

.description-text {
    font-family: poppins;
    font-size: 28px;
    color: #fff;
}

.bottom {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-explore {
    font-size: 26px;
}

.content-top-right {
    width: 40%;
    margin-top: 100px;
}

.bottom-text {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    color: white;
    text-decoration: underline;
}

.best-selling {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.best {
    margin: 25px;
    width: 400px;
    height: 600px;
    background-color: #D1C7BD;
    border-radius: 15px;
}

.best > img {
    width: 400px;
}

.best-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #311C1E;
}

.name-best, .diskon-best, .after-disc-best {
    margin-top: 20px;
}

.diskon-best {
    text-decoration: line-through;
}

.name-best {
    font-size: 36px;
}

.button-more {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* styles.css */
.rectangle-button {
    /* Set button dimensions and padding */
    width: 400px;
    height: 75px;
    padding: 10px 20px;
    margin-top: 30px;

    /* Define button background color and border */
    background-color: #72383D;
    border: none;
    border-radius: 35px;

    /* Define text styles */
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    /* Add hover effect */
    transition: background-color 0.3s ease;
}

/* Add hover effect */
.rectangle-button:hover {
    background-color: #AC9C8D;
}

.buy-now {
    display: flex;
    justify-content: center;
}

.buy-button {
    /* Set button dimensions and padding */
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    margin-top: 30px;

    /* Define button background color and border */
    background-color: #72383D;
    border: none;
    border-radius: 35px;

    /* Define text styles */
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    /* Add hover effect */
    transition: background-color 0.3s ease;
}

/* Add hover effect */
.buy-button:hover {
    background-color: #322D29;
}

@media only screen and (max-width: 1200px) {
    .content-top-right {
        display: none;
    }
}