body {
    background-color: #AC9C8D;
    font-family: 'Lexend Exa';
    margin: 0;
    padding: 0px;
}

header {
    padding-bottom: 10px;
}

.section1 {
    margin: 0px 100px 25px 100px;
}

.deliveryAddBox {
    display:flex;
    justify-content: center;
    background-color: #D9D9D9;
    height: 100px;
    width: 100%;
    border-radius: 15px;
    margin-top: 100px;
}

.material-icons, h2 {
    background-color: #D9D9D9;
    font-size: 30px;
    font-weight: bold;
}

i {
    font-size: 36px !important;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
}

.troly {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
}

.item {
    background-color: #72383D;
    width: 600px;
    height: 250px;
    margin-bottom: 50px;
    color: white;
    display: flex;
    border-radius: 25px;
}

.itemContent1 {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemContent2 {
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: flex-start;
}

.detailCheckout {
    height: 200;
    padding-top: 20px;
    display:flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
}

h3 {
    margin: 5px;
}

.prod-name {
    font-size: 24px;
    padding-bottom: 5px;
}

.prod-price {
    font-size: 18px;
    padding-bottom: 5px;
}

h3 {
    font-size: 24px;
}

.price {
    align-items: right;
}

.right {
    margin-bottom:100px;
    padding: 40px;
    height: 45vh;
    width: 60vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    border: 5px solid #72383D;
    border-radius: 50px;
    background-color: #EFE9E1;
}

.right-title > h3 {
    color: #311c1e;
    font-size: 48px;
    text-decoration-line: underline;
    font-weight: 800;
}

.right-price {
    padding-top:20px;
    color: #311c1e;
}

.right-price > h3 {
    font-size: 36px;
}

.total-price {
    font-size: 24px;
    font-weight: normal;
}

.color {
    display: flex;
    align-items: center;
}

.color-child {
    margin-left: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
}

.checkout-button {
    text-align: center;
    width: 200px;
    height: 50px;
    background: #72383D;
    border-radius: 30px;
    margin-top: 10px;
    color: #fff; 
    border: 10px; 
    cursor: pointer;
    position: right;
    right: 3px;
    opacity: 100%;
    transition: background-color 0.3s ease;
}

.cancel-order-button {
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 50px;
    background: #AC9C8D;
    border-radius: 30px;
    margin-top: 10px;
    color: #322D29; 
    border: 10px; 
    cursor: pointer;
    position: right;
    right: 3px;
    opacity: 100%;
    transition: background-color 0.3s ease;
}

.cancel-order-button:hover {
    background: #322D29;
    color: #AC9C8D;
}

.input-address > input {
    text-align: left;
    padding-left: 50px;
    height: 50px;
    width: 55vh;
    background: #AC9C8D;
    border-radius: 30px;
    margin-top: 10px;
    color: #fff; 
    border: 10px;
    position: right;
    right: 3px;
    opacity: 100%;
    font-size: 18px;
}

.checkout-button:hover {
    background-color: #322D29;
}

.right-add-button {
    padding-top: 15px;
}

.right-add-button > button {
    width: 150px;
    font-size: 18px;
}

@media only screen and (min-width:1280px) and (max-width:1900px) {
    .section1 {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .section2 {
        padding-top: 15px;
    }

    .right {
        height: 40vh;
        width: auto;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .right-title > h3 {
        font-size: 42px;
    }
    
    .right-price {
        padding-top:15px;
    }
    
    .right-price > h3 {
        font-size: 36px;
    }
    
    .total-price {
        font-size: 20px;
        font-weight: normal;
    }
    
    .color-child {
        margin-left: 5px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid black;
    }

    .input-address {
        display: flex;
        flex-direction: column;
    }

    .input-address > input {
        height: 50px;
        width: 35vh;
        background: #AC9C8D;
        border-radius: 30px;
        margin-top: 10px;
        color: #fff; 
        border: 10px;
        position: right;
        right: 3px;
        opacity: 100%;
        font-size: 18px;
    }
}

@media only screen and (max-width:1280px) {
    .section2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .right {
        height: 400px;
        width: 500px;
        margin-bottom: 50px;
    }

    .input-address > input {
        height: 50px;
        width: 35vh;
        background: #AC9C8D;
        border-radius: 30px;
        margin-top: 10px;
        color: #fff; 
        border: 10px;
        position: right;
        right: 3px;
        opacity: 100%;
        font-size: 18px;
    }
}

@media only screen and (max-width:660px) {
    .right {
        height: 400px;
        width: 400px;
        margin-bottom: 50px;
    }

    .right-title > h3 {
        font-size: 36px;
    }
    
    .right-price {
        padding-top:5px;
    }
    
    .right-price > h3 {
        font-size: 24px;
    }
    
    .total-price {
        font-size: 20px;
        font-weight: normal;
    }

    .input-address > input {
        height: 50px;
        width: 200px;
    }

    .item {
        width: 400px;
    }

    .itemContent1 {
        height: 250px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itemContent1 > img {
        border-radius: 25px 0px 0px 25px;
        height: 250px;
        width: 200px;
    }

    .detailCheckout {
        padding-left: 10px;
    }

    .prod-name {
        font-size: 18px;
    }
    
    .prod-price, h3 {
        font-size: 14px;
    }

    .cancel-order-button {
        width: 100px;
        height: 50px;
        background: #AC9C8D;
        border-radius: 30px;
        margin-top: 10px;
        color: #322D29; 
        border: 10px; 
        cursor: pointer;
        position: right;
        right: 3px;
        opacity: 100%;
        transition: background-color 0.3s ease;
    }
}